// Colors

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
// Breakpoint
$breakpoint-sm: 57.2rem;
$breakpoint-md: 75.2rem;
$breakpoint-lg: 99.2rem;
$breakpoint-xl: 117.2rem;